.footer{
    position: fixed;
    bottom: 0;
    font-size: 1.5em;
    text-align: center;
    background-color: aqua;
    padding: 10px;
    font-weight: bold;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
.footerSpan{
    margin: 50px;
}